/* Settings page */
.woodpc-settings .accordion-position select {
    margin-left: 0;
    margin-right: 1em;
}

@media all and (max-width: 396px) {
    .woodpc-settings .accordion-position select {
        display: block;
        margin-right: 0;
        margin-top: 0.5em;
    }
}

/* Product edit page */
.woodpc .delete-topic {
    float: left;
}

/* mobail and tablet mod */
@media (max-width: 767px) {
    .woodpc .delete-file {
        text-align: left;
    }

    .woodpc .new-file {
        padding-left: 0;
        padding-right: 10px;
    }
}

/* Desktop mode */
@media (min-width: 768px) {
    .woodpc .delete-file::before {
      right: 0;
    }
  }