.woodpc {
  max-width: 45rem;
  border: 1px solid #e2e8f07c;
  margin: 0 auto;
}

.woodpc a {
  text-decoration: none;
}

.woodpc .topic-box {
  display: flex;
  padding: 10px 25px;
  background: #f8fafc;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  transition: background 0.5s ease;
}

.woodpc .topic-box span {
  max-width: 87%;
  margin: 0;
  font-size: 1em;
}

.woodpc .topic-box:hover {
  background: #e2e8f0;
  cursor: pointer;
}

.woodpc .ui-icon {
  display: flex;
  width: 30px;
  height: 30px;
  background: url("../img/angle-down.svg")
  no-repeat center;
  background-size: contain;
  transition: transform 0.5s ease;
}

.woodpc .ui-icon-triangle-1-s {
  transform: rotate(180deg);
}

.woodpc .ui-state-active {
  background: #e2e8f0;
}

.woodpc .file-box {
  border-bottom: 1px solid #e2e8f0;
  padding: 10px 25px;
  transition: background 0.3s ease;
}

.woodpc .file-box span {
  font-size: 0.9em;
}

.woodpc .file-box:hover {
  background: #ecf0f1;
}

.woodpc .download-button,
.woodpc .buy-button {
  width: 6rem;
  justify-content: center;
}

.woodpc .download-button a {
  color: #2ecc71;
}

.woodpc .download-button a:hover {
  color: #27ae60;
}

.woodpc .buy-button a {
  color: #e74c3c;
}

.woodpc .buy-button a:hover {
  color: #c0392b;
}

/* Alert for when customer has bought product in single product page */
.woodpc-product-bought {
  width: max-content;
  border: 1px solid #ffecb5;
  padding: 10px;
  margin: 0 auto;
  background-color: #fff3cd;
  color: #664d03;
  border-radius: 5px;
}

/* mobile and tablet mod */
@media (max-width: 767px) {
  .woodpc .topic-box,
  .woodpc .file-box {
    padding: 10px;
  }

  .woodpc .detail {
    display: none;
    margin-top: 15px;
    justify-content: space-around;
    align-items: center;
  }

  .woodpc .detail {
    text-align: center;
  }
}

/* dekstop mod */
@media (min-width: 768px) {
  .woodpc .file-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .woodpc .title,
  .woodpc .detail {
    display: flex;
  }

  .woodpc .title {
    max-width: 55%;
  }

  .woodpc .detail {
    align-items: center;
  }

  .woodpc .download-button,
  .woodpc .buy-button {
    display: flex;
    margin-left: 30px;
  }
}