/* Settings page */
.woodpc-settings {
  padding: 5px;
}

.woodpc-settings h1 {
  line-height: 1;
}

.woodpc-settings label {
  font-size: 1.4em;
  vertical-align: revert;
}

.woodpc-settings p {
  font-size: 1em;
}

/* Dropdowns style */
.woodpc-settings select {
  margin-left: 1em;
}

/* The distance between sections */
.woodpc-settings .auto-update-orders,
.woodpc-settings .repurchase,
.woodpc-settings .set-accordion-position,
.woodpc-settings .accordion-position,
.woodpc-settings .shortcode {
  margin-bottom: 2em;
}

.woodpc-settings .important-note,
.woodpc-settings .shortcode code {
  color: #ff0000;
}

@media all and (max-width: 396px) {
  .woodpc-settings .accordion-position select {
    display: block;
    margin-left: 0;
    margin-top: 0.5em;
  }
}

/* Product edit page */
.woodpc .inside {
  padding: 0;
}

/* Box of all elements except the div tag which has a new-topic class */
.woodpc .topic-box {
  border-bottom: 1px solid #c3c4c7;
}

.woodpc table input[type="checkbox"] {
  margin: 0;
}

.woodpc table {
  border-collapse: collapse;
}

.woodpc table td {
  vertical-align: middle;
}

.woodpc table th {
  padding: 7px;
  font-size: 1.1em;
}

.woodpc a {
  text-decoration: none;
  cursor: pointer;
}

.woodpc .topic-header {
  padding: 10px;
  margin-top: 5px;
  background-color: #e2e8f0;
}

.woodpc .topic-label {
  font-size: 1.4em;
  font-weight: 600;
}

.woodpc .new-topic {
  padding: 10px;
}

.woodpc .delete-topic {
  float: right;
  color: #a00;
}

.woodpc .sort {
  background: #f9f9f9;
  font-size: 1.3em;
  cursor: move;
}

.woodpc .sort::before {
  display: block;
  content: "\f333";
  color: #999;
  font-family: Dashicons;
  text-align: center;
}

.woodpc .upload-file-button {
  text-align: center;
  line-height: 2.154;
}

.woodpc .new-file {
  margin-top: 10px;
}

.woodpc .add-file-button,
.woodpc .add-topic-button {
  display: inline-block;
}

.woodpc .add-file-button,
.woodpc .add-topic-button {
  padding: 4px 10px;
  line-height: 1.539;
}

.woodpc .upload-file-button,
.woodpc .add-file-button,
.woodpc .add-topic-button {
  border: 1px solid #2271b1;
  background: #f6f7f7;
  border-radius: 3px;
}

.woodpc .upload-file-button:hover,
.woodpc .add-file-button:hover,
.woodpc .add-topic-button:hover {
  border-color: #0a4b78;
  background: #f0f0f1;
  color: #0a4b78;
}

.woodpc table td {
  padding: 5px;
}

/* Desktop mode */
@media (min-width: 768px) {

  .woodpc .topic-box {
    padding: 0 10px 10px;
  }

  .woodpc .topic-name {
    width: 25%;
  }

  .woodpc table tr {
    border: 1px solid #c3c4c7;
  }

  .woodpc table input[type="text"] {
    width: 100%;
  }

  .woodpc .upload-file-button {
    display: block;
  }

  .woodpc .free-status {
    width: 1%;
    text-align: center;
    line-height: 1;
  }

  .woodpc .delete-file {
    display: block;
    position: relative;
    width: 1em;
    height: 1em;
    font-size: 1.2em;
    text-indent: -9999px;
  }

  .woodpc .delete-file::before {
    position: absolute;
    content: "\f153";
    left: 0;
    color: #999;
    font-family: Dashicons;
    line-height: 1;
    text-indent: 0;
  }

  .woodpc .delete-file:hover::before {
    color: #a00;
  }
}

/* Mobile and tablet mode */
@media (max-width: 767px) {
  .woodpc table,
  .woodpc tbody,
  .woodpc tr {
    display: block;
  }

  .woodpc table thead,
  .woodpc table .sort {
    display: none;
  }

  .woodpc td {
    display: grid;
  }

  .woodpc td:before {
    content: attr(data-label);
  }

  .woodpc .topic-label {
    display: block;
  }

  .woodpc input[type="text"] {
    width: 70%;
  }

  .woodpc table tr {
    padding: 5px;
  }

  .woodpc table tbody tr {
    border-bottom: 1px solid #c3c4c7;
  }

  .woodpc .topic-header {
    padding: 0 10px 15px;
  }

  .woodpc .upload-file-button {
    width: 5em;
  }

  .woodpc .delete-file {
    color: #a00;
    text-align: right;
  }

  .woodpc .new-file {
    padding-bottom: 10px;
    padding-left: 10px;
  }
}